# LLM related
langchain
langchain-openai
langchain-community
langchain-huggingface
openai
google-generativeai
requests
sentence-transformers
tiktoken

# Vector DB
psycopg2-binary
pgvector
sqlalchemy

# PDF processing
pypdf
pymupdf

# Web framework
fastapi
uvicorn

# Other
python-dotenv
numpy
scikit-learn
nltk
unstructured
thefuzz
python-Levenshtein
pandas
PyPDF2
PyCryptodome
torch
pillow
transformers
